<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="SwiftComp">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
    </application>
</manifest>
